
#MyDash {
  padding-left: 0x;
  padding-right: 0x;
  /*padding-top: 0px;*/
  /*padding-bottom: 0px;*/
}

#MyDash .dash-item-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;

  /*border:2px solid red;*/
}

#MyDash .dash-item-container > StWidget,
#MyDash .dash-item-container > StDrawingArea,
#MyDash .dash-item-container > StButton {
  /*width: 40px !important;*/
  /*height: 48px !important;*/

  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 4px !important;
  padding-bottom: 0px !important;
  /*margin-top: 0px !important;*/
  /*margin-bottom: 0px !important;*/
  margin-left: 0px !important;
  margin-right: 0px !important;
}


#MyDash .dash-item-container > StButton.show-apps > .overview-icon {
  background-color: rgba(0,0,0,0.2) !important;
  /*border:2px solid red;*/
}

#MyDash .dash-item-container > .overview-icon,
#MyDash .dash-item-container > .app-well-app {
  /*border:2px solid magenta;*/
  /*width: 48px;*/
  /*height: 48px;*/
  /*padding-top: 0px !important;*/
  /*margin-top: 0px !important;*/
}

#MyDash > StWidget.dash-background {
  padding-left: 2px !important;
  padding-right: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  background-color: rgba(0,0,0,0.6) !important;
  opacity: 0.6 !important;
  border-radius: 6px !important;
  /*border: 2px solid magenta !important;*/
}
