button.maximize,
button.minimize,
button.close,
button.maximize:hover,
button.minimize:hover,
button.close:hover {
  background: none;
  border: none;
  margin: 0px;
  margin-left: 4px;
  padding: 0px;
  min-width: 12px;
  min-height: 12px;
  border: 1px solid rgba(0,0,0,0);
}

button.maximize,
button.minimize,
button.close {
  opacity: 0.7;
  border-radius: 100%;
  text-shadow: none;
  color: rgba(0,0,0,0);
  border: 1px solid rgba(0,0,0,0.35);
}

button.maximize:hover,
button.maximize {
  background-color: rgb(0, 220, 0);
}

button.minimize:hover,
button.minimize {
  background-color: rgb(255, 220, 0);
}

button.close:hover,
button.close {
  background-color: rgb(255, 0, 0);
}


button.maximize:hover,
button.minimize:hover,
button.close:hover {
  opacity: 1;
  border: 1px solid rgba(0,0,0,0.35);
}
